    <nav class="navbar navbar-expang-lg navbar-dark bg-dark" ng-controller="navbarController as vm">
    <div>
        <a href="#!/home" class="text-white"><i class="fa fa-fw fa-laptop"></i> Calculatoare</a>
    </div>
    <div>
        <div ng-show="!vm.user.identity.isAuthenticated">
            <input type="text" placeholder="Nume utilizator ..." ng-model="vm.username" />
            <input type="password" placeholder="Parola ..." ng-model="vm.password" />
            <a href="" class="text-white" ng-click="vm.login()"><i class="fa fa-fw fa-sign-in"></i> Conectare</a>
            <a href="" class="text-white" ng-click="vm.register()"><i class="fa fa-fw fa-user-plus"></i> Creare cont</a>
        </div>
        <a href="" class="text-white" ng-click="vm.logout()" ng-show="vm.user.identity.isAuthenticated"><i class="fa fa-fw fa-sign-out"></i> Deconectare</a>
    </div>
</nav>
