<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mt-5 mb-5">
                <form>
                    <div>
                        <label>Nume:</label>
                        <div>
                            <input class="form-control" type="text" ng-model="vm.user.fName" />
                        </div>
                    </div>
                    <div>
                        <label>Prenume:</label>
                        <div>
                            <input class="form-control" type="text" ng-model="vm.user.lName" />
                        </div>
                    </div>

                    <div>
                        <label>Nume utilizator:</label>
                        <div>
                            <input class="form-control" type="text" ng-model="vm.user.username" />
                        </div>
                    </div>
                    <div>
                        <label>Parola:</label>
                        <div>
                            <input class="form-control" type="password" ng-model="vm.user.password" />
                        </div>
                    </div>
                    <div>
                        <label>Email:</label>
                        <div>
                            <input class="form-control" type="email" ng-model="vm.user.email" />
                        </div>
                    </div>
                    <div class="mt-2 ml-auto mr-auto">
                        <button class="btn btn-success" ng-click="vm.register()">Log in</button>
                        <button class="btn btn-danger" ng-click="vm.cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>