<section>
    <div class="container">
        <div class="row mt-3 mb-3">
            <span class="col-sm-1 mb-2 mt-2" style="padding: 0px;">Serie:</span>
            <input class="form-control col-sm-8" type="text" ng-model="vm.numeSerie" />
            <button class="btn btn-info" ng-click="vm.salveazaSerie()">Salveaza serie</button>
        </div>

        <div class="row mt-5">
            <div class="col-sm-6">
                <h3>Anul: 1</h3>
            </div>
            <div>
                <h3>Semestru: 1</h3>
            </div>
        </div>
        <div class="row" ng-repeat="data in vm.dataLastSerie.a1s1.data">
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Ord ..." ng-model="data.ord" /></div>
            <div class="col-sm-4" style="padding: 0px;"><input class="form-control" type="text" placeholder="Disciplina ..." ng-model="data.disciplina" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="C ..." ng-model="data.C" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="S ..." ng-model="data.S" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="L ..." ng-model="data.L" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="P ..." ng-model="data.P" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="CR ..." ng-model="data.CR" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Eval ..." ng-model="data.Evaluare" /></div>
            <div class="col-sm-1 mt-1" ng-click="vm.stergeMaterie('a1s1', $index)"><i class="fa fa-fw fa-remove" style="color: red"></i></div>
        </div>
        <div class="row mb-2">
            <button class="btn btn-success mt-3" ng-click="vm.adaugaMaterieNoua('a1s1')">Adauga materie noua</button>
        </div>

        <div class="row mt-5">
            <div class="col-sm-6">
                <h3>Anul: 1</h3>
            </div>
            <div>
                <h3>Semestru: 2</h3>
            </div>
        </div>
        <div class="row" ng-repeat="data in vm.dataLastSerie.a1s2.data">
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Ord ..." ng-model="data.ord" /></div>
            <div class="col-sm-4" style="padding: 0px;"><input class="form-control" type="text" placeholder="Disciplina ..." ng-model="data.disciplina" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="C ..." ng-model="data.C" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="S ..." ng-model="data.S" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="L ..." ng-model="data.L" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="P ..." ng-model="data.P" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="CR ..." ng-model="data.CR" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Eval ..." ng-model="data.Evaluare" /></div>
            <div class="col-sm-1 mt-1" ng-click="vm.stergeMaterie('a1s2', $index)"><i class="fa fa-fw fa-remove" style="color: red"></i></div>
        </div>
        <div class="row mb-2">
            <button class="btn btn-success mt-3" ng-click="vm.adaugaMaterieNoua('a1s2')">Adauga materie noua</button>
        </div>

        <div class="row mt-5">
            <div class="col-sm-6">
                <h3>Anul: 2</h3>
            </div>
            <div>
                <h3>Semestru: 1</h3>
            </div>
        </div>
        <div class="row" ng-repeat="data in vm.dataLastSerie.a2s1.data">
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Ord ..." ng-model="data.ord" /></div>
            <div class="col-sm-4" style="padding: 0px;"><input class="form-control" type="text" placeholder="Disciplina ..." ng-model="data.disciplina" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="C ..." ng-model="data.C" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="S ..." ng-model="data.S" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="L ..." ng-model="data.L" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="P ..." ng-model="data.P" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="CR ..." ng-model="data.CR" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Eval ..." ng-model="data.Evaluare" /></div>
            <div class="col-sm-1 mt-1" ng-click="vm.stergeMaterie('a2s1', $index)"><i class="fa fa-fw fa-remove" style="color: red"></i></div>
        </div>
        <div class="row mb-2">
            <button class="btn btn-success mt-3" ng-click="vm.adaugaMaterieNoua('a2s1')">Adauga materie noua</button>
        </div>

        <div class="row mt-5">
            <div class="col-sm-6">
                <h3>Anul: 2</h3>
            </div>
            <div>
                <h3>Semestru: 2</h3>
            </div>
        </div>
        <div class="row" ng-repeat="data in vm.dataLastSerie.a2s2.data">
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Ord ..." ng-model="data.ord" /></div>
            <div class="col-sm-4" style="padding: 0px;"><input class="form-control" type="text" placeholder="Disciplina ..." ng-model="data.disciplina" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="C ..." ng-model="data.C" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="S ..." ng-model="data.S" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="L ..." ng-model="data.L" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="P ..." ng-model="data.P" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="CR ..." ng-model="data.CR" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Eval ..." ng-model="data.Evaluare" /></div>
            <div class="col-sm-1 mt-1" ng-click="vm.stergeMaterie('a2s2', $index)"><i class="fa fa-fw fa-remove" style="color: red"></i></div>
        </div>
        <div class="row mb-2">
            <button class="btn btn-success mt-3" ng-click="vm.adaugaMaterieNoua('a2s2')">Adauga materie noua</button>
        </div>

        <div class="row mt-5">
            <div class="col-sm-6">
                <h3>Anul: 3</h3>
            </div>
            <div>
                <h3>Semestru: 1</h3>
            </div>
        </div>
        <div class="row" ng-repeat="data in vm.dataLastSerie.a3s1.data">
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Ord ..." ng-model="data.ord" /></div>
            <div class="col-sm-4" style="padding: 0px;"><input class="form-control" type="text" placeholder="Disciplina ..." ng-model="data.disciplina" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="C ..." ng-model="data.C" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="S ..." ng-model="data.S" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="L ..." ng-model="data.L" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="P ..." ng-model="data.P" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="CR ..." ng-model="data.CR" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Eval ..." ng-model="data.Evaluare" /></div>
            <div class="col-sm-1 mt-1" ng-click="vm.stergeMaterie('a3s1', $index)"><i class="fa fa-fw fa-remove" style="color: red"></i></div>
        </div>
        <div class="row mb-2">
            <button class="btn btn-success mt-3" ng-click="vm.adaugaMaterieNoua('a3s1')">Adauga materie noua</button>
        </div>

        <div class="row mt-5">
            <div class="col-sm-6">
                <h3>Anul: 3</h3>
            </div>
            <div>
                <h3>Semestru: 2</h3>
            </div>
        </div>
        <div class="row" ng-repeat="data in vm.dataLastSerie.a3s2.data">
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Ord ..." ng-model="data.ord" /></div>
            <div class="col-sm-4" style="padding: 0px;"><input class="form-control" type="text" placeholder="Disciplina ..." ng-model="data.disciplina" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="C ..." ng-model="data.C" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="S ..." ng-model="data.S" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="L ..." ng-model="data.L" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="P ..." ng-model="data.P" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="CR ..." ng-model="data.CR" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Eval ..." ng-model="data.Evaluare" /></div>
            <div class="col-sm-1 mt-1" ng-click="vm.stergeMaterie('a3s2', $index)"><i class="fa fa-fw fa-remove" style="color: red"></i></div>
        </div>
        <div class="row mb-2">
            <button class="btn btn-success mt-3" ng-click="vm.adaugaMaterieNoua('a3s2')">Adauga materie noua</button>
        </div>

        <div class="row mt-5">
            <div class="col-sm-6">
                <h3>Anul: 4</h3>
            </div>
            <div>
                <h3>Semestru: 1</h3>
            </div>
        </div>
        <div class="row" ng-repeat="data in vm.dataLastSerie.a4s1.data">
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Ord ..." ng-model="data.ord" /></div>
            <div class="col-sm-4" style="padding: 0px;"><input class="form-control" type="text" placeholder="Disciplina ..." ng-model="data.disciplina" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="C ..." ng-model="data.C" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="S ..." ng-model="data.S" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="L ..." ng-model="data.L" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="P ..." ng-model="data.P" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="CR ..." ng-model="data.CR" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Eval ..." ng-model="data.Evaluare" /></div>
            <div class="col-sm-1 mt-1" ng-click="vm.stergeMaterie('a4s1', $index)"><i class="fa fa-fw fa-remove" style="color: red"></i></div>
        </div>
        <div class="row mb-2">
            <button class="btn btn-success mt-3" ng-click="vm.adaugaMaterieNoua('a4s1')">Adauga materie noua</button>
        </div>

        <div class="row mt-5">
            <div class="col-sm-6">
                <h3>Anul: 4</h3>
            </div>
            <div>
                <h3>Semestru: 2</h3>
            </div>
        </div>
        <div class="row" ng-repeat="data in vm.dataLastSerie.a4s2.data">
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Ord ..." ng-model="data.ord" /></div>
            <div class="col-sm-4" style="padding: 0px;"><input class="form-control" type="text" placeholder="Disciplina ..." ng-model="data.disciplina" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="C ..." ng-model="data.C" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="S ..." ng-model="data.S" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="L ..." ng-model="data.L" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="P ..." ng-model="data.P" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="CR ..." ng-model="data.CR" /></div>
            <div class="col-sm-1" style="padding: 0px;"><input class="form-control" type="text" placeholder="Eval ..." ng-model="data.Evaluare" /></div>
            <div class="col-sm-1 mt-1" ng-click="vm.stergeMaterie('a4s2', $index)"><i class="fa fa-fw fa-remove" style="color: red"></i></div>
        </div>
        <div class="row mb-2">
            <button class="btn btn-success mt-3" ng-click="vm.adaugaMaterieNoua('a4s2')">Adauga materie noua</button>
        </div>
    </div>
</section>