<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mr-auto ml-auto mt-2">
                <span>Serie:</span>
                <div>
                    <input class="form-control" type="text" ng-model="vm.numeSerie"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mt-5">
                <span>
                    Anul 
                    <select ng-options="item as item for item in vm.an" ng-model="vm.anSelectat">
                    </select>
                    , Semestrul
                    <select ng-options="item as item for item in vm.sem" ng-model="vm.semSelectat">
                    </select>
                </span>
                <div class="mt-1">
                    <div class="row" ng-repeat="materii in vm.materii">
                        <div class="col-sm-6" style="padding-right: 0px">
                            <input class="form-control" type="text" placeholder="Nume materie ..." ng-model="materii.numeMaterie" />
                        </div>
                        <div class="col-sm-1" style="padding-left: 0px; padding-right: 0px">
                            <input class="form-control" type="number" placeholder="C" ng-model="materii.C" />
                        </div>
                        <div class="col-sm-1" style="padding-left: 0px; padding-right: 0px">
                            <input class="form-control" type="number" placeholder="S" ng-model="materii.S" />
                        </div>
                        <div class="col-sm-1" style="padding-left: 0px; padding-right: 0px">
                            <input class="form-control" type="number" placeholder="L" ng-model="materii.L" />
                        </div>
                        <div class="col-sm-1" style="padding-left: 0px; padding-right: 0px">
                            <input class="form-control" type="number" placeholder="P" ng-model="materii.P" />
                        </div>
                        <div class="col-sm-1" style="padding-left: 0px; padding-right: 0px">
                            <input class="form-control" type="number" placeholder="PR" ng-model="materii.PR" />
                        </div>
                        <div class="col-sm-1" style="padding-left: 0px; padding-right: 0px">
                            <input class="form-control" type="number" placeholder="CR" ng-model="materii.CR" />
                        </div>
                        <div class="col-sm-1" style="padding-left: 0px; padding-right: 0px">
                            <input class="form-control" type="text" placeholder="Eval" ng-model="materii.Eval" />
                        </div>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-success" ng-click="vm.adMat()">Adauga materie</button>
                        <button class="btn btn-info mt-1" ng-click="vm.salveazaSerie()">Salveaza semestru</button>
                        <button class="btn btn-danger" ng-click="vm.delMat()">Sterge materie</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>