<section>
    <div class="container">
        <div class="row mt-3">
            <h3>{{ vm.materie.disciplina }}</h3>
        </div>
        <div class="row form-control mt-2">
            <label for="denumire_disciplina">Denumire disciplina:</label>
            <input class="form-control" type="text" id="denumire_disciplina" name="denumire_disciplina" ng-model="vm.materie.disciplina" />

            <label for="responsabil_curs">Responsabil curs:</label>
            <input class="form-control" type="text" id="responsabil_curs" ng-model="vm.detalii.responsabil" />

            <label for="titular_activitati">Titular activitati:</label>
            <input class="form-control" type="text" id="titular_activitati" ng-model="vm.detalii.titular" />

            <label for="an">Anul de studiu:</label>
            <input class="form-control" type="number" id="an" ng-model="vm.materie.an" />

            <label for="sem">Semestrul:</label>
            <input class="form-control" type="number" id="sem" ng-model="vm.materie.sem" />

            <label for="ord">ORD:</label>
            <input class="form-control" type="text" id="ord" ng-model="vm.materie.ord" />

            <label for="CR">CR:</label>
            <input class="form-control" type="number" id="CR" ng-model="vm.materie.CR" />

            <label for="C">C:</label>
            <input class="form-control" type="number" id="C" ng-model="vm.materie.C" />

            <label for="S">S:</label>
            <input class="form-control" type="number" id="S" ng-model="vm.materie.S" />

            <label for="sem">L:</label>
            <input class="form-control" type="number" id="L" ng-model="vm.materie.L" />

            <label for="sem">P:</label>
            <input class="form-control" type="number" id="P" ng-model="vm.materie.P" />

            <label for="PR">PR:</label>
            <input class="form-control" type="number" id="PR" ng-model="vm.materie.PR" />

            <label for="tip_evaluare">Tipul de evaluare:</label>
            <input class="form-control" type="text" id="tip_evaluare" ng-model="vm.materie.Evaluare" />

            <label for="cat_disciplina">Cat disciplina:</label>
            <input class="form-control" type="text" id="cat_disciplina" ng-model="vm.detalii.cat" />

            <label for="tip_disciplina">Tipul disciplinei:</label>
            <input class="form-control" type="text" id="tip_disciplina" ng-model="vm.detalii.tip" />

            <label for="ore_curs_sapt">Nr. ore curs pe saptamana:</label>
            <input class="form-control" type="number" id="ore_curs_sapt" ng-model="vm.detalii.ore_curs" />

            <label for="ore_lab_sapt">Nr. ore laborator/seminar pe saptamana:</label>
            <input class="form-control" type="number" id="ore_lab_sapt" ng-model="vm.detalii.ore_laborator" />

            <label for="ore_curs_total">Total nr. ore curs:</label>
            <input class="form-control" type="number" id="ore_curs_total" ng-model="vm.detalii.total_ore_curs" />

            <label for="ore_lab_total">Total nr. ore laborator:</label>
            <input class="form-control" type="number" id="ore_lab_total" ng-model="vm.detalii.total_ore_laborator" />

            <label for="ore_studiu">Studiu dupa manual, notite:</label>
            <input class="form-control" type="number" id="ore_studiu" ng-model="vm.detalii.ore_studiu" />

            <label for="ore_documentare">Documentare suplimentara in biblioteca:</label>
            <input class="form-control" type="number" id="ore_documentare" ng-model="vm.detalii.ore_documentatie" />

            <label for="ore_pregatire">Pregatire seminarii/laboratoare, teme:</label>
            <input class="form-control" type="number" id="ore_pregatire" ng-model="vm.detalii.ore_pregatire" />

            <label for="ore_tutoriat">Tutoriat:</label>
            <input class="form-control" type="number" id="ore_tutoriat" ng-model="vm.detalii.ore_tutoriat" />

            <label for="ore_examinari">Examinari:</label>
            <input class="form-control" type="number" id="ore_examinari" ng-model="vm.detalii.ore_examinari" />

            <label for="ore_alte_activitari">Alte activitari:</label>
            <input class="form-control" type="number" id="ore_lab_total" ng-model="vm.detalii.ore_activitati" />
        </div>
        <button class="btn btn-success mt-2 mb-2" ng-click="vm.save()">Salveaza</button>
    </div>
</section>